<h2 class="text-center text-xl font-bold mb-14">
  Proyectos en los que he participado
</h2>
<section
  id="projects"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Proyectos seleccionados"
>
  <div>
    <ul class="group/list">
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-zinc-800/20 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>

          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link text-base"
                href="https://www.valorizasm.com/en/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="Crea una aplicación conectada a Spotify (se abre en una nueva pestaña)"
              >
                <span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span>
                <span>
                  Valoriza
                  <span class="inline-block">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </span>
              </a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              Valoriza es una aplicación interna diseñada para gestionar
              eficientemente la información clave de la empresa, con especial
              énfasis en la administración de su maquinaria y trabajadores.
              Cuenta con múltiples pantallas donde se presentan tablas de datos
              y formularios de búsqueda, para consultar, filtrar y gestionar
              grandes volúmenes de información de forma clara y sencilla.
            </p>

            <ul
              class="mt-2 flex flex-wrap"
              aria-label="Tecnologías utilizadas:"
            >
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  TypeScript
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  .Net
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Azure
                </div>
              </li>
            </ul>
          </div>

          <img
            alt="Valoriza"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="/assets/ico/valoriza.png"
          />
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-zinc-800/20 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>

          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link text-base"
                href="https://komandero.com/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="Komandero Bares (se abre en una nueva pestaña)"
              >
                <span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span>
                <span>
                  Komandero Bares
                  <span class="inline-block">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </span>
              </a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              Aplicación Sistema completo de gestión para bares y restaurantes.
              Ofrece estadísticas en tiempo real para mejorar productividad y
              rentabilidad. Control de inventario, gestión de pedidos en tiempo
              real, análisis de ventas.
            </p>

            <ul
              class="mt-2 flex flex-wrap"
              aria-label="Tecnologías utilizadas:"
            >
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  GitLab
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeFlex
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeNG
                </div>
              </li>
            </ul>
          </div>

          <img
            alt="Página de inicio de la aplicación Spotify Profile"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="/assets/ico/km.png"
          />
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-zinc-800/20 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>

          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link text-base"
                href="http://elrematebarytapas.com/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="Tema Halcyon (se abre en una nueva pestaña)"
              >
                <span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span>
                <span>
                  El Remate bar y tapas
                  <span class="inline-block">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </span>
              </a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              Página web del bar El remate bar y tapas en Sevilla realizado con
              WordPress utilizando Elementor. Muestra la historia sobre este
              restaurante, menú, localización y información para reservar.
            </p>

            <ul
              class="mt-2 flex flex-wrap"
              aria-label="Tecnologías utilizadas:"
            >
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  WordPress
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Elementor
                </div>
              </li>
            </ul>
          </div>

          <img
            alt="Página de inicio del tema Halcyon con captura de pantalla del editor de VS Code"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="/assets/ico/remate.png"
          />
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-zinc-800/20 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>

          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link text-base"
                href="https://github.com/29jbarrera/autoflow-frontend"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="brittanychiang.com (v4) (se abre en una nueva pestaña)"
              >
                <span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span>
                <span>
                  Autoflow
                  <span class="inline-block">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </span>
              </a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              Proyecto personal realizado para la gestión de gastos personales
              de los autónomos. Visualizar gastos, ingresos, listado de
              usuarios, facturas no pagadas... así como la visualización fácil y
              rápida a través de gráficos.
            </p>
            <ul
              class="mt-2 flex flex-wrap"
              aria-label="Tecnologías utilizadas:"
            >
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Tailwind
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Node
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PostgreSQL
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeNG
                </div>
              </li>
            </ul>
          </div>

          <img
            alt="brittanychiang.com versión 4 sección de héroes"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="/assets/ico/autoflow.png"
          />
        </div>
        <!-- TODO: aañadir foto de proyecto -->
      </li>
    </ul>
  </div>
</section>
