/* styles.css */

/* Estilos comunes para la línea central */
.temporal-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  border-left: 2px solid #b2b2bb;
}

/* Estilos para la flecha hacia abajo */
.temporal-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #b2b2bb;
  margin-bottom: -12px;
}

/* Estilos para las fechas */
.temporal-date {
  color: #e2e8f0;
  opacity: 0.5;
  font-size: small;
}

/* Estilo para ocultar las fechas en dispositivos móviles */
.temporal-date-hidden {
  display: none;
}

/* Estilos para mostrar la fecha en pantallas medianas y mayores */
@media (min-width: 768px) {
  .temporal-date-hidden {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }
}

/* Efecto de hover para las tarjetas */
.temporal-card {
  background: linear-gradient(135deg, #fef9c3, #fde68a);
  transition: box-shadow 0.4s ease-in-out; /* Añadir transición */
  box-shadow: 0 4px 18px rgb(255, 255, 255, 0.6); /* Sombra blanca suave */
}

.temporal-card:hover {
  box-shadow: 0 6px 20px rgb(255, 255, 255, 0.61);
}

.titulotarjeta {
  color: #030712;
}

.contenttarjeta {
  color: #030712;
  opacity: 0.8;
}
