<h2 class="text-center text-xl font-bold text-slate-200 mb-12">Formación</h2>
<section
  id="formacion"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Formacion"
>
  <div class="relative flex justify-center">
    <!-- Línea central -->
    <div class="temporal-line">
      <!-- Flecha hacia abajo -->
      <div class="temporal-arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 text-slate-400"
          fill="none"
          viewBox="1 3 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </div>
    </div>

    <!-- Tarjetas -->
    <div class="w-full md:w-12/12">
      <!-- Tarjeta 1 -->
      <div
        class="mb-20 flex items-center justify-start md:justify-start md:mr-16"
      >
        <div
          class="w-full md:w-6/12 bg-slate-800 p-6 rounded-2xl shadow-xl transform transition-transform hover:scale-105 temporal-card"
        >
          <h3 class="text-xl font-semibold text-slate-200 mb-2">
            Título de formación 1
          </h3>
          <p class="text-sm text-slate-400">
            Breve descripción sobre la formación, incluyendo detalles relevantes
            sobre los temas que se trataron.
          </p>
        </div>
        <!-- Fecha 1 -->
        <div class="ml-20 flex items-center mb-20 temporal-date-hidden">
          <span class="temporal-date"> Fecha 1: 01/2023 </span>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="mb-16 flex items-center justify-start md:justify-end md:ml-16"
      >
        <!-- Fecha 2 -->
        <div class="mr-16 flex items-center mb-20 temporal-date-hidden">
          <span class="temporal-date"> Fecha 2: 02/2023 </span>
        </div>

        <div
          class="w-full md:w-6/12 bg-slate-800 p-6 rounded-2xl shadow-xl transform transition-transform hover:scale-105 temporal-card"
        >
          <h3 class="text-xl font-semibold text-slate-200 mb-2">
            Título de formación 2
          </h3>
          <p class="text-sm text-slate-400">
            Breve descripción sobre la formación, explicando los conceptos
            principales aprendidos y su aplicación.
          </p>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="mb-16 flex items-center justify-start md:justify-start md:mr-16"
      >
        <div
          class="w-full md:w-6/12 bg-slate-800 p-6 rounded-2xl shadow-xl transform transition-transform hover:scale-105 temporal-card"
        >
          <h3 class="text-xl font-semibold text-slate-200 mb-2">
            Título de formación 3
          </h3>
          <p class="text-sm text-slate-400">
            Descripción adicional de la formación, con detalles que permitan
            entender la profundidad de los conocimientos adquiridos.
          </p>
        </div>
        <!-- Fecha 3 -->
        <div class="ml-16 flex items-center mb-20 temporal-date-hidden">
          <span class="temporal-date"> Fecha 3: 03/2023 </span>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div
        class="mb-16 flex items-center justify-start md:justify-end md:ml-16"
      >
        <!-- Fecha 4 -->
        <div class="mr-16 flex items-center mb-20 temporal-date-hidden">
          <span class="temporal-date"> Fecha 2: 02/2023 </span>
        </div>

        <div
          class="w-full md:w-6/12 bg-slate-800 p-6 rounded-2xl shadow-xl transform transition-transform hover:scale-105 temporal-card"
        >
          <h3 class="text-xl font-semibold text-slate-200 mb-2">
            Título de formación 2
          </h3>
          <p class="text-sm text-slate-400">
            Breve descripción sobre la formación, explicando los conceptos
            principales aprendidos y su aplicación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
