<div>
  <h1 class="text-4xl font-bold tracking-tighter text-yellow-200 sm:text-5xl">
    <a href="/">Javier Barrera</a>
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight sm:text-xl">
    Programador Full-Stack
  </h2>
  <p class="mt-4 max-w-xs leading-normal">
    Creciendo con cada línea de código.
  </p>

  <nav class="nav-menu">
    <ul>
      <li>
        <a href="#about" class="nav-link">
          <span class="nav-indicator"></span> Acerca de mí
        </a>
      </li>
      <li>
        <a href="#experience" class="nav-link">
          <span class="nav-indicator"></span> Experiencia
        </a>
      </li>
      <li>
        <a href="#projects" class="nav-link">
          <span class="nav-indicator"></span> Proyectos
        </a>
      </li>
      <li>
        <a href="#formacion" class="nav-link">
          <span class="nav-indicator"></span> Formación
        </a>
      </li>
      <li>
        <a href="#skills" class="nav-link">
          <span class="nav-indicator"></span> Skills
        </a>
      </li>
    </ul>
  </nav>
</div>

<ul
  class="ml-1 md:mt-[21vh] mt-8 flex items-center"
  aria-label="Redes sociales"
>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://github.com/29jbarrera"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="GitHub"
      title="GitHub"
    >
      <img
        src="/assets/redes-sociales/github.webp"
        alt="GitHub"
        class="h-8 w-8 logo"
      />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://www.linkedin.com/in/javier-barrera-lopez/"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="LinkedIn"
      title="LinkedIn"
    >
      <img
        src="/assets/redes-sociales/linkedin.webp"
        alt="Linkedin"
        class="h-8 w-8 logo"
      />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://instagram.com/jbl.dev"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Instagram"
      title="Instagram"
    >
      <img
        src="/assets/redes-sociales/instagram.webp"
        alt="Instagram"
        class="h-8 w-8 logo"
      />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="mailto:javierbarreralopez97@gmail.com"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Gmail"
      title="Gmail"
    >
      <img
        src="/assets/redes-sociales/gmail.webp"
        alt="Gmail"
        class="h-8 w-8 logo"
      />
    </a>
  </li>
</ul>
