<div>
  <h1 class="text-4xl font-bold tracking-tight text-yellow-100 sm:text-5xl">
    <a href="/">Javier Barrera</a>
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight sm:text-xl">
    Programador front-end
  </h2>
  <p class="mt-4 max-w-xs leading-normal">
    Creciendo con cada línea de código.
  </p>

  <nav class="nav-menu">
    <ul>
      <li>
        <a href="#about" class="nav-link">
          <span class="nav-indicator"></span> Acerca de mí
        </a>
      </li>
      <li>
        <a href="#formacion" class="nav-link">
          <span class="nav-indicator"></span> Formación
        </a>
      </li>
      <li>
        <a href="#experience" class="nav-link">
          <span class="nav-indicator"></span> Experiencia
        </a>
      </li>
      <li>
        <a href="#projects" class="nav-link">
          <span class="nav-indicator"></span> Proyectos
        </a>
      </li>
    </ul>
  </nav>
</div>

<ul class="ml-1 md:mt-60 mt-8 flex items-center" aria-label="Redes sociales">
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://github.com/29jbarrera"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="GitHub (se abre en una nueva pestaña)"
      title="GitHub"
    >
      <img src="/assets/ico/github.png" alt="GitHub" class="h-8 w-8 logo" />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://www.linkedin.com/in/javier-barrera-lopez/"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="LinkedIn (se abre en una nueva pestaña)"
      title="LinkedIn"
    >
      <img src="/assets/ico/linkedin.png" alt="Linkedin" class="h-8 w-8 logo" />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="https://instagram.com/jbl.dev"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Instagram (se abre en una nueva pestaña)"
      title="Instagram"
    >
      <img
        src="/assets/ico/instagram.png"
        alt="Instagram"
        class="h-8 w-8 logo"
      />
    </a>
  </li>
  <li class="mr-5 shrink-0 text-xs">
    <a
      class="block hover:text-slate-200"
      href="mailto:29jbarrera@gmail.com"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Instagram (se abre en una nueva pestaña)"
      title="Instagram"
    >
      <img src="/assets/ico/gmail.png" alt="Instagram" class="h-8 w-8 logo" />
    </a>
  </li>
</ul>
