<div class="flex justify-center pt-4" id="experience">
  <h2 class="flex items-center gap-2 text-center text-xl mb-14">
    <img
      src="/assets/ico/experiencia.webp"
      alt="Experiencia"
      class="w-10 mr-2"
    />
    Experiencia
  </h2>
</div>

<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Experiencia"
>
  <div>
    <ol class="group/list">
      <!-- Codearts Solutions -->
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div class="custom-div-card-experience"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide sm:col-span-2 date group-hover:opacity-100 transition-opacity"
            aria-label="03/2025 — PRESENTE"
          >
            03/2025 — 06/2025
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug">
              <div>
                <a
                  class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link"
                  href="https://www.codeartssolutions.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="Líder Front-end CodeArts Solutions"
                >
                  <span
                    class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                  ></span>
                  <span>
                    Líder Front-end ·
                    <span class="inline-block">CodeArts Solutions </span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </h3>
            <ul
              class="mt-2 text-sm leading-normal text-[#b2b2bb] group-hover:text-[#e2e2e6] transition-colors duration-200 space-y-1 -ml-1"
            >
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Lideré el desarrollo frontend de una web para compra y
                    alquiler de dispositivos de telemetría.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Implementación de registro de usuarios y gestión de roles.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Desarrollo realizado con Drupal 11, usando plantillas Twig y
                    un tema personalizado con estilos en CSS.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Coordiné al equipo frontend, asegurando tanto buenas
                    prácticas como el cumplimiento de plazos y diseño del
                    proyecto.
                  </span>
                </div>
              </li>
            </ul>
            <ul class="mt-2 flex flex-wrap" aria-label="Tecnologías utilizadas">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Drupal
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PHP
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  SCRUM
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Docker
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Symfony
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!-- Faktuflow -->
      <li class="mb-16">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div class="custom-div-card-experience"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide sm:col-span-2 date group-hover:opacity-100 transition-opacity"
            aria-label="04/2024 — 09/2024"
          >
            02/2025 — 5/2025
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug">
              <div>
                <a
                  class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link"
                  href="https://faktuflow.es/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="Programador Full-Stack"
                >
                  <span
                    class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                  ></span>
                  <span>
                    Programador Full-Stack ·
                    <span class="inline-block">Faktuflow</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </h3>
            <ul
              class="mt-2 text-sm leading-normal text-[#b2b2bb] group-hover:text-[#e2e2e6] transition-colors duration-200 space-y-1 -ml-1"
            >
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Desarrollé un proyecto personal desde cero, abordando todas
                    las fases del proceso: diseño, desarrollo y despliegue.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Diseñé la interfaz completa en Figma, priorizando la
                    usabilidad y una experiencia visual clara y moderna.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Implementé el backend utilizando Node.js con Express,
                    gestionando la lógica del servidor y la conexión con la base
                    de datos PostgreSQL.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Desarrollé el frontend con Angular 19, integrando las
                    librerías PrimeNG y TailwindCSS para una interfaz limpia,
                    responsiva y funcional.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Gestioné el despliegue del proyecto utilizando Vercel para
                    el frontend, Render para el backend y Supabase como solución
                    de base de datos alojada.
                  </span>
                </div>
              </li>
            </ul>
            <ul class="mt-2 flex flex-wrap" aria-label="Tecnologías utilizadas">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Nodejs
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PostgreSQL
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeNG
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Tailwind
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!-- Komandero -->
      <li class="mb-12">
        <div
          class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div class="custom-div-card-experience"></div>
          <header
            class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide sm:col-span-2 date group-hover:opacity-100 transition-opacity"
            aria-label="04/2024 — 09/2024"
          >
            04/2024 — 09/2024
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug">
              <div>
                <a
                  class="inline-flex items-baseline font-medium leading-tight hover:text-yellow-200 group/link"
                  href="https://komandero.dev/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="Desarrollador software"
                >
                  <span
                    class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                  ></span>
                  <span>
                    Programador Front-end ·
                    <span class="inline-block">Komandero</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </h3>
            <ul
              class="mt-2 text-sm leading-normal text-[#b2b2bb] group-hover:text-[#e2e2e6] transition-colors duration-200 space-y-1 -ml-1"
            >
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Desarrollé aplicaciones web multiplataforma, asegurando
                    compatibilidad y buen rendimiento en distintos dispositivos.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Desarrolle aplicaciones móviles para Android e iOS (IONIC).
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Diseñé interfaces de usuario modernas, accesibles y
                    adaptadas a las necesidades del cliente.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Estuve involucrado en el desarrollo de un sistema de gestión
                    para bares y restaurantes, cubriendo desde la toma de
                    pedidos hasta la administración interna.
                  </span>
                </div>
              </li>
              <li>
                <div class="flex gap-2">
                  <span class="custom-arrow">➤</span>
                  <span>
                    Utilicé tecnologías como Angular, TypeScript e Ionic para
                    construir la base del proyecto.
                  </span>
                </div>
              </li>
            </ul>
            <ul class="mt-2 flex flex-wrap" aria-label="Tecnologías utilizadas">
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Angular
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  TypeScript
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  Ionic
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeNG
                </div>
              </li>
              <li class="mr-1.5 mt-2">
                <div
                  class="flex items-center rounded-full px-3 py-1 text-xs font-medium leading-5 tag"
                >
                  PrimeFlex
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
