<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-6 md:py-16 lg:py-0"
>
  <div class="lg:flex lg:justify-between lg:gap-12">
    <header
      class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[70%] lg:flex-col lg:justify-between lg:py-24"
    >
      <app-aside> </app-aside>
    </header>

    <main id="content" class="pt-24 lg:w-[100%] lg:py-24">
      <section
        id="about"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
        aria-label="Acerca de mí"
      >
        <app-main></app-main>
      </section>

      <app-experiencia></app-experiencia>

      <app-proyectos></app-proyectos>

      <app-formacion></app-formacion>

      <app-cursos-carousel></app-cursos-carousel>

      <app-skills></app-skills>

      <app-footer></app-footer>
    </main>
  </div>
</div>
