<div class="flex justify-center">
  <h2 class="flex items-center gap-2 text-center text-xl font-bold mb-14">
    <img src="/assets/ico/espada.png" alt="Espada" class="w-10 mr-2" />
    Algunas de mis skills
  </h2>
</div>

<section
  id="Skills"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24 timeline"
  aria-label="Skills"
>
  <!-- Tabla con 6 columnas y 3 filas -->
  <table class="w-full mt-8">
    <tbody>
      <!-- Fila 1 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/html.svg" alt="Imagen 1" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/css.avif" alt="Imagen 2" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/javascript.svg" alt="Imagen 3" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/typescript.svg" alt="Imagen 4" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/mysql.svg" alt="Imagen 5" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/MongoDB.svg" alt="Imagen 6" class="skills" />
        </td>
      </tr>
      <!-- Fila 2 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/angular.svg" alt="Imagen 7" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/nodejs.svg" alt="Imagen 8" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/react.svg" alt="Imagen 9" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/Express.png" alt="Imagen 10" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/vscode.svg" alt="Imagen 11" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/PostgresSQL.svg"
            alt="Imagen 12"
            class="skills"
          />
        </td>
      </tr>
      <!-- Fila 3 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/Github_light.svg"
            alt="Imagen 13"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/gitlab.svg" alt="Imagen 14" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/linux.svg" alt="Imagen 15" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/postman.svg" alt="Imagen 16" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/Tailwind-CSS.svg"
            alt="Imagen 17"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/firebase.svg" alt="Imagen 18" class="skills" />
        </td>
      </tr>
    </tbody>
  </table>
</section>
