<div class="flex justify-center">
  <h2 class="flex items-center gap-2 text-center text-xl font-bold mb-14">
    <img src="/assets/ico/espada.png" alt="Espada" class="w-10 mr-2" />
    Algunas de mis skills
  </h2>
</div>

<section
  id="skills"
  class="mb-16 scroll-mt-12 md:mb-24 lg:mb-36 lg:scroll-mt-24 timeline"
  aria-label="Skills"
>
  <!-- Tabla con 6 columnas y 3 filas -->
  <table class="w-full md:mb-64">
    <tbody>
      <!-- Fila 1 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/html.svg" alt="HTML" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/css.avif" alt="CSS" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/javascript.svg"
            alt="JavaScript"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/typescript.svg"
            alt="TypeScript"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/mysql.svg" alt="mysql" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/MongoDB.svg" alt="MongoDB" class="skills" />
        </td>
      </tr>
      <!-- Fila 2 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/angular.svg" alt="Angular" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/nodejs.svg" alt="nodejs" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/react.svg" alt="React" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/Express.png" alt="Express" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/vscode.svg" alt="vscode" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/PostgresSQL.svg"
            alt="PostgresSQL"
            class="skills"
          />
        </td>
      </tr>
      <!-- Fila 3 -->
      <tr>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/Github_light.svg"
            alt="Github_light"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/gitlab.svg" alt="gitlab" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/linux.svg" alt="linux" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/postman.svg" alt="postman" class="skills" />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img
            src="/assets/ico/Tailwind-CSS.svg"
            alt="Tailwind-CSS"
            class="skills"
          />
        </td>
        <td class="w-1/6 p-2 text-center">
          <img src="/assets/ico/firebase.svg" alt="firebase" class="skills" />
        </td>
      </tr>
    </tbody>
  </table>
</section>
