<div>
  <h1 class="mb-2 sm:ml-3 -mt-8 sm:mt-0">
    👋🏻 Hola, soy <span class="text-yellow-200">Javier</span>
  </h1>
  <p class="mb-4">
    un apasionado de la tecnología, me encanta desarrollar aplicaciones web y
    software, creando soluciones accesibles, eficientes y visualmente
    atractivas. Disfruto enfrentarme a nuevos retos, combinando diseño
    meticuloso con una ingeniería robusta para ofrecer experiencias optimizadas
    en rendimiento y usabilidad.
  </p>

  <p class="mb-4">
    Me mantengo en constante aprendizaje, adaptándome a la evolución del sector
    y perfeccionando mis habilidades, especialmente en tecnologías frontend como
    Angular.
  </p>

  <p class="mb-4">
    Destaco mi proyecto personal
    <a
      class="font-medium text-slate-200 hover:text-yellow-200 focus-visible:text-yellow-100"
      href="https://github.com/29jbarrera/autoflow-frontend"
      target="_blank"
      rel="noreferrer noopener"
    >
      Autoflow
    </a>
    una aplicación para la gestión de gastos enfocada en autónomos. Fue una gran
    oportunidad para desarrollar soluciones eficientes con impacto real.
  </p>

  <p>
    En mi tiempo libre, practico jiu-jitsu entre otros deportes, lo que me
    permite mantenerme en forma y fomentar hábitos saludables. También disfruto
    de pasar tiempo con mi familia y amigos.
  </p>
</div>
