<main class="w-[63%] ml-auto p-6 overflow-y-auto h-screen">
  <section class="h-[250vh] bg-gray-100 p-5 w-3/4 mt-12">
    <p class="leading-relaxed">
      Soy un desarrollador apasionado por crear interfaces de usuario accesibles
      y de alta precisión que combinan un diseño meticuloso con una ingeniería
      robusta. Mi trabajo favorito se encuentra en la intersección del diseño y
      el desarrollo, creando experiencias que no solo lucen geniales, sino que
      están meticulosamente diseñadas para un rendimiento y una usabilidad
      óptimos.
    </p>
    <p class="introduccion">
      Actualmente, soy ingeniero senior de front-end en Klaviyo , especializado
      en accesibilidad. Contribuyo a la creación y el mantenimiento de los
      componentes de interfaz de usuario que impulsan el front-end de Klaviyo,
      garantizando que nuestra plataforma cumpla con los estándares y las
      mejores prácticas de accesibilidad web para ofrecer una experiencia de
      usuario inclusiva.
    </p>
    <p class="introduccion">
      Anteriormente, he tenido la oportunidad de desarrollar software en
      diversos entornos, desde agencias de publicidad y grandes corporaciones
      hasta startups y pequeños estudios de productos digitales . Además, hace
      unos años publiqué un completo curso en vídeo que guiaba a los alumnos en
      la creación de una aplicación web con la API de Spotify.
    </p>
    <p class="introduccion">
      En mi tiempo libre, suelo escalar, leer, pasar tiempo con mi esposa y mis
      dos gatos, o correr por Hyrule buscando Semillas de Korok K o o o k s mi
      mi d s
    </p>
  </section>
</main>
