<div
  class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
>
  <h2
    class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
  >
    Acerca de
  </h2>
</div>

<div>
  <p class="mb-4">
    Soy un técnico en desarrollo apasionado por crear interfaces de usuario
    accesibles y precisas, combinando un diseño meticuloso con una ingeniería
    robusta. Mi enfoque está en la intersección entre el diseño y el desarrollo,
    creando experiencias que no solo son visualmente atractivas, sino que
    también están optimizadas para un rendimiento y usabilidad excepcionales.
  </p>

  <p class="mb-4">
    Actualmente, sigo formándome constantemente, ya que la tecnología está en
    continua evolución. Me esfuerzo por mantenerme actualizado y adquirir nuevas
    habilidades para enfrentar los desafíos que surgen en el desarrollo
    front-end, especialmente en tecnologías como Angular.
  </p>

  <p class="mb-4">
    A lo largo de mi carrera, he trabajado en varios proyectos, de los cuales
    destaco uno personal, ya que me permitió desarrollar una
    <a
      class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
      href="https://github.com/29jbarrera/autoflow-frontend"
      target="_blank"
      rel="noreferrer noopener"
    >
      aplicación para la gestión de gastos
    </a>
    dirigida a autónomos. Este proyecto fue una oportunidad para aplicar mis
    habilidades en el desarrollo de soluciones prácticas y eficientes, y me
    brindó la satisfacción de crear una herramienta útil para mejorar la
    organización financiera de los autónomos.
  </p>

  <p>
    En mi tiempo libre, practico jiu-jitsu y otros deportes, lo que me permite
    mantenerme en forma y fomentar hábitos saludables. También disfruto de leer,
    pasar tiempo con mi familia y amigos.
  </p>
</div>
