@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background: #030712;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.625;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
}

p {
  color: #b2b2bb;
}

header {
  color: #b2b2bb;
}

.date {
  opacity: 0.5;
}

h2 {
  color: #e2e8f0;
  font-weight: bold;
}

h3 {
  color: #e2e8f0;
}

.tag {
  background-color: rgb(254 249 195 / 0.1);
  color: rgb(254 240 138 / var(--tw-text-opacity, 1));
}

.footer {
  color: #e2e8f0;
}

.footer:hover {
  color: #fef08a;
}
